.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.users_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user_card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(21, 21, 21);
}

.user_card p:first-child {
  font-weight: bold;
  font-size: 1.25em;
}

.user_card p span {
  font-size: 1rem;
  font-weight: normal;
  padding: 4px;
  border-radius: 4px;
  color: black;
  background-color: rgb(211, 117, 117);
}
